h1{
  font-family: helvetica;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
}
.container {
  position: relative;
  text-align: center;
  color: white;
  width:100%;
  height: 100px;
  overflow: hidden;
  margin-bottom: 80px;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  font-family: helvetica;
  font-weight: bold;
  color: khaki;
}
h2{
  font-family: helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
}
.pensler{
  background-color: mediumspringgreen;
  padding: 10px;
}
.rammer{
  background-color: lightcoral;
  padding: 10px;
}
.maling{
  background-color: skyblue;
  padding: 10px;
}
body{
  font-family: arial, helvetica, sans-serif;
  padding: 20px;
  padding-top: 85px;
  padding-bottom: 100px;
  margin: auto;
  width: 75%;
}
.crop{
  width:100%;
  height:85px;
  position: relative;
  overflow: hidden;
  margin-bottom: 50px;
}
strong{
  font-family: helvetica;
  font-weight: bold;
  color: blue;
}
